In [1]:
import numpy as np
import pandas as pd
import  matplotlib.pyplot as plt

In [2]:
data = pd.read_excel('E:datamining-master/shooping_demo.xls')
data.head()

       Day Discount Free Delivery  Buy
0  Weekday      Yes           Yes  Yes
1  Weekday      Yes           Yes  Yes
2  Weekend       No            No   No
3  Holiday      Yes           Yes  Yes
4  Weekday      Yes           Yes  Yes

In [3]:
data.shape

(50, 4)

In [5]:
data['Buy'].value_counts()

Yes    41
No      9
Name: Buy, dtype: int64

In [6]:
PYes = 41/50
PNo = 9/50

In [7]:
print(PYes)

0.82

In [8]:
print(PNo)

0.18

In [9]:
pd.crosstab(data['Day'], data['Buy'])

Buy      No  Yes
Day
Holiday   6   18
Weekday   2    9
Weekend   1   14

In [11]:
PHolidayNo = 6/9
PWeekdayNo = 2/9
PWeekendNo = 1/9

PHolidayYes = 18/41
PWeekdayYes = 9/41
PWeekendYes = 14/41

PHoliday = 24/50
PWeekday = 11/50
PWeekend = 15/50

print(PWeekdayYes)

0.21951219512195122

In [12]:
PNoWeekday = (PWeekdayNo*PNo)/PWeekday
print(PNoWeekday)

0.1818181818181818

In [13]:
PYesWeekday = (PWeekdayYes*PYes)/PWeekday
print(PYesWeekday)

0.8181818181818181

In [14]:
print(PNoWeekday)
print(PYesWeekday)

0.1818181818181818
0.8181818181818181

In [15]:
pd.crosstab(data['Discount'], data['Buy'])

Buy       No  Yes
Discount
No         5   12
Yes        4   29

In [16]:
PNoDiscountNo = 5/9
PYesDiscountNo = 4/9

PNoDiscountYes = 12/41
PYesDiscountYes = 29/41

PNoDiscount = 17/50
PYesDiscount = 33/50

In [17]:
pd.crosstab(data['Free Delivery'], data['Buy'])

Buy            No  Yes
Free Delivery
No              4   10
Yes             5   31

In [18]:
PNoDeliveryNo = 4/9
PYesDeliveryNo = 5/9

PNoDeliveryYes = 10/41
PYesDeliveryYes = 31/41

PNoDelivery = 14/50
PYesDelivery = 36/50

In [19]:
PNoBuy1 = ((PHoliday*PYesDiscountNo*PYesDeliveryNo)*PNo)/(PHoliday*PYesDiscount*PYesDelivery)
print(PNoBuy1)

0.09352787130564906

In [20]:
PBuy2 = ((PHolidayYes*PYesDiscountYes*PYesDeliveryYes)*PYes)/(PHoliday*PYesDiscount*PYesDelivery)
print(PBuy2)

0.8440667832398943

In [21]:
PSum = PNoBuy1+PBuy2
print(PSum)

0.9375946545455434

In [23]:
PBuy = (PBuy2/PSum) *100
print(PBuy)

90.02470088196242

In [24]:
PNoBuy = (PNoBuy1*PSum) *100
print(PNoBuy)

8.769123218720006